<!-- JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-56161851-5'></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {dataLayer.push(arguments);}

    gtag('js', new Date());

    gtag('config', 'UA-56161851-5');
</script>
<script type='module'>
    tns({
        container: '.slider',
        items: 1,
        slideBy: 'page',
        autoplay: true,
        mouseDrag: true,
        controls: false,
        nav: false,
        autoplayButtonOutput: false
    });
</script>
