---
---

@import "main";

body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue',
  Ubuntu, Arial, sans-serif;
  color: #333333;
  font-weight: 400;
  background: #ffffff;
}

.iphone {
  height: 500px;
  width: 250px;
  border: 10px solid #363636;
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  position: relative;

  img {
    width: 100%;
  }
}

.mt-80 {
  margin-top: 80px
}

.mb-17 {
  margin-bottom: 17px;
}

.w-130 {
  width: 130px;
}

.mt-90 {
  margin-top: 90px;
}

.coming-soon {
  position: relative;

  img {
    filter: opacity(.8) blur(1px);
  }
}

.coming-soon .before {
  position: absolute;
  top: -20px;
  width: 100%;
  color: #333333;
  font-size: 12px;
}

.fas, .fab {
  color: #333333;
}

.text-decoration-none:hover {
  text-decoration: none;
}

nav {
  font-size: 14px;
}

.intro {
  color: #7d7d7d;
  font-size: 15px;
}

.br-10 {
  border-radius: 10px;
}

#intro {
  .lead {
    font-size: 19px;
  }

  h2 {
    font-weight: 700;
    font-size: 42px;
  }

  margin-bottom: 23px;
}

#features {
  h4 {
    font-weight: 700;
    font-size: 39px;
    margin-bottom: 17px;
    max-width: 700px;
  }

  #feature-list {
    max-width: 700px;

    ul {
      margin-left: 0;

      > li {
        background: #363636;
        color: #fff;
        padding: 13px;
        border-radius: 8px;
        margin-bottom: 10px;
      }
    }

  }
}

#app-stores {
  margin-bottom: 13px;
}
