---
---

@import "main";

body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue',
  Ubuntu, Arial, sans-serif;
  color: #333333;
  font-weight: 400;
  background: #ffffff;
}

.iphone {
  height: 500px;
  width: 250px;
  border: 10px solid #363636;
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  position:relative;

  img {
    width: 100%;
  }
}

.mt-80 {
  margin-top: 80px;
}

.w-130 {
  width: 130px;
}


.coming-soon {
  position: relative;

  img {
    filter: opacity(.8) blur(1px);
  }
}
.coming-soon .before {
  position: absolute;
  top: -20px;
  width: 100%;
  color: #333333;
  font-size: 12px;
}

.fas, .fab {
  color: #333333;
}

.text-decoration-none:hover {
  text-decoration: none;
}

nav {
  font-size: 14px;
}
