---
---

@import "main";

body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue',
  Ubuntu, Arial, sans-serif;
  color: #333333;
  font-weight: 400;

  background-size: cover;
  background: url("../img/bg.jpeg") center;
}

.iphone {
  height: 500px;
  width: 250px;
  border: 10px solid #363636;
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  position: relative;

  img {
    width: 100%;
  }
}

.text-decoration-none:hover {
  text-decoration: none;
}

nav {
  font-size: 14px;
}

#header {
  padding: 70px 0;
  border-bottom: 3px solid #333;

  #logo {
    svg {
      width: 80px;
      border-radius: 10px;
    }
  }

  nav {
    font-weight: 600;
  }

  .social-icons {
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

#intro {
  margin-top: 25px;

  .lead {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 200;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 200;
    font-size: 7.5em;
    letter-spacing: 15px;
  }
}

#features {
  margin: 40px 0 50px;

  h4 {
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 16px;
  }

  #feature-list {
    max-width: 700px;

    ul {
      margin-left: 0;
      list-style: none;

      > li {
        background: #363636;
        color: #fff;
        padding: 13px;
        border-radius: 8px;
        margin-bottom: 10px;
      }
    }
  }
}

#app-stores {
  margin: 40px 0;

  img {
    width: 185px;
  }
}


//@media all and (max-width: 1200px) { /* screen size until 1200px */
//  body {
//    font-size: 1.5em; /* 1.5x default size */
//  }
//}
//@media all and (max-width: 1000px) { /* screen size until 1000px */
//  body {
//    font-size: 1.2em; /* 1.2x default size */
//  }
//}
@media all and (max-width: 500px) { /* screen size until 500px */
  body {

    #header {
      padding: 50px 0;

      #logo svg {
        width: 40px;
      }

      nav {
        font-size: 12px;
        font-weight: bold;
      }

      .social-icons svg {
        width: 15px;
        height: 15px;
      }
    }

    #intro {
      margin-top: 25px;
      text-align: center;

      h2 {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 2.5em;
        letter-spacing: 4px;
      }

      .lead {
        font-size: 17px;
        margin-top: 5px;
        font-weight: 300;
      }
    }

    #features {
      h4 {
        font-weight: 300;
      }
    }
  }
}
